li{list-style:none;}
a,a:hover{text-decoration:none;}
a.outline:hover,a:hover{color: red}
.status{margin:0;padding:0;}
img{float: left; width: 40px;height: 40px;margin:10px 0 10px ;}
.status p,.status a{float: left;margin-left:10px;margin-top:18px;}
/*.status li{border: 1px solid red;}*/
p.online{color: green;}
p.outline,a.outline{color: gray;}
